<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || 'Florian Dejonckheere' %></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond|Josefin+Sans" type="text/css">

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <nav class="nav">
      <ul>
        <li class="active"><%= link_to 'Home', '/index.html' %></li>
        <li><%= link_to 'Portfolio', '/index.html' %></li>
        <li><%= link_to 'Contact', '/index.html' %></li>
      </ul>
    </nav>
    <div class="column">
      <%= yield %>
    </div>
  </body>
</html>
