---
title: I2Talent
order: 2
---

<section>
  <aside>
    <h2><%= permalink_for 'T&acirc;che 1' %></h2>
    <em>Ofman Quadrants</em>
  </aside>

  <p>
    Une bonne fa&ccedil;on pour d&eacute;terminer vos points forts et faibles est de cartographier vos qualit&eacute;s de base et vos quadrants de base. Cette m&eacute;thode couramment utilis&eacute;e peut &eacute;galement vous aider &agrave; analyser vos conflits avec d'autres personnes.
  </p>

  <p class="links">
    <%= link_to 'T&acirc;che 1', 'files/Dejonckheere_Florian_Ofman.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'T&acirc;che 2' %></h2>
    <em>Indicateur de Comp&eacute;tence</em>
  </aside>

  <p>
    L'Indicateur de Comp&eacute;tence est un test scientifique d&eacute;velopp&eacute; par Vlerick Business School. Il donne des commentaires sur vos qualit&eacute;s professionnelles et vos faiblesses.
  </p>

  <p class="links">
    <%= link_to 'Certificat', 'files/Dejonckheere_Florian_Competence_Indicator_Certificate.pdf' %>
    <span class="separator">/</span>
    <%= link_to 'R&eacute;flection', 'files/Dejonckheere_Florian_Competence_Indicator_Reflection.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'T&acirc;che 3' %></h2>
    <em>T&eacute;moignage</em>
  </aside>

  <p>
    Le t&eacute;moignage a &eacute;t&eacute; donn&eacute;e par <a href="http://users.hogent.be/jasperdhaene/eportfolio" target="blank">Jasper D'haene</a>.
  </p>

  <p class="links">
    <%= link_to 'T&eacute;moignage', 'files/Dejonckheere_Florian_Getuigenis.mp4' %>
    <span class="separator">/</span>
    <%= link_to 'R&eacute;flection', 'files/Dejonckheere_Florian_Getuigenis.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'T&acirc;che 4' %></h2>
    <em>&Eacute;valuation DISC</em>
  </aside>

  <p>
    DISC est un outil d'&eacute;valuation du comportement bas&eacute; sur la th&eacute;orie DISC du psychologue William Moulton Marston, qui repose sur quatre traits comportementaux diff&eacute;rents: la domination, l'incitation, la soumission et la conformit&eacute;.
  </p>

  <p class="links">
    <%= link_to 'R&eacute;flection', 'files/Dejonckheere_Florian_DISC.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'T&acirc;che 5' %></h2>
    <em>Atelier Creative Thinking</em>
  </aside>

  <p>
    L'atelier Creative Thinking a &eacute;t&eacute; organis&eacute; le lundi 5 d&eacute;cembre.
  </p>

  <p class="links">
    <%= link_to 'R&eacute;flection', 'files/Dejonckheere_Florian_Creative_Thinking.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'T&acirc;che 6' %></h2>
    <em>Profils d'emploi</em>
  </aside>

  <p>
    Quelques des demandes de travail dans l'industrie informatique ont &eacute;t&eacute; analys&eacute;e et les comp&eacute;tences techniques, personnelles et linguistiques ont &eacute;t&eacute; extraites et d&eacute;crites.
  </p>

  <p class="links">
    <%= link_to 'T&acirc;che 6', 'files/Dejonckheere_Florian_Jobprofielen.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Anglais 1' %></h2>
    <em>Screencast</em>
  </aside>

  <p>
    Preparez un screencast educatif (3 &agrave; 5 minutes).
  </p>

  <p class="links">
    <a href="https://www.youtube.com/watch?v=Lng-g4knhCI">YouTube</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Anglais 2' %></h2>
    <em>Blog</em>
  </aside>

  <p>
    Chaque membre de l'&eacute;quipe &eacute;crit un billet de blog (deux sur une t&acirc;che choisie et deux sur une t&acirc;che ignor&eacute;e).
  </p>

  <p class="links">
    <a href="https://theenglishbreakfastblog.wordpress.com/">The English Breakfast Blog</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Fran&ccedil;ais' %></h2>
    <em>Jeu s&eacute;rieux</em>
  </aside>

  <p>
    Programmez un jeu s&eacute;rieux sur un aspect de la langue/culture fran&ccedil;aise. Ce jeu &eacute;tait &eacute;crite comme substitut pour les petits billets du jeu de soci&eacute;t&eacute; <em>Trivial Pursuit</em>.
  </p>

  <p class="links">
    <a href="https://trivial.florian.dejonckhee.re/">Trivial</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Fran&ccedil;ais' %></h2>
    <em>Nexios pr&eacute;sentation</em>
  </aside>

  <p>
    Thomas Plumanns, le recruteur de Nexios a fait une pr&eacute;sentation sur l'&eacute;criture d'un bon curriculum vitae et sur la fa&ccedil;on de se pr&eacute;parer à l'entrevue de travail.
  </p>

  <p class="links">
    <%= link_to 'R&eacute;flection', 'files/Dejonckheere_Florian_CV_Presentation.pdf' %>
  </p>
</section>
