---
title: I2Talent
order: 2
---

<section>
  <aside>
    <h2><%= permalink_for 'Assignment 1' %></h2>
    <em>Ofman Core Quadrants</em>
  </aside>

  <p>
    A good way to determine your strong en weak points is mapping your core qualities and you core quadrants. This commonly-used method can also help you analyze your conflicts with other people.
  </p>

  <p class="links">
    <%= link_to 'Assignment 1', 'files/Dejonckheere_Florian_Ofman.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Assignment 2' %></h2>
    <em>Competence Indicator</em>
  </aside>

  <p>
    The Competence Indicator is a scientific test developed by Vlerick Business School. It gives feedback on your professional qualities and weaknesses.
  </p>

  <p class="links">
    <%= link_to 'Certificate', 'files/Dejonckheere_Florian_Competence_Indicator_Certificate.pdf' %>
    <span class="separator">/</span>
    <%= link_to 'Reflection', 'files/Dejonckheere_Florian_Competence_Indicator_Reflection.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Assignment 3' %></h2>
    <em>Personal Statement</em>
  </aside>

  <p>
    The statement was given by <a href="http://users.hogent.be/jasperdhaene/eportfolio" target="blank">Jasper D'haene</a>.
  </p>

  <p class="links">
    <%= link_to 'Getuigenis', 'files/Dejonckheere_Florian_Getuigenis.mp4' %>
    <span class="separator">/</span>
    <%= link_to 'Reflection', 'files/Dejonckheere_Florian_Getuigenis.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Assignment 4' %></h2>
    <em>DISC assessment</em>
  </aside>

  <p>
    DISC is a behavior assessment tool based on the DISC theory of psychologist William Moulton Marston, which centers on four different behavioral traits: dominance, inducement, submission, and compliance.
  </p>

  <p class="links">
    <%= link_to 'Reflection', 'files/Dejonckheere_Florian_DISC.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Assignment 5' %></h2>
    <em>Creative Thinking</em>
  </aside>

  <p>
    The workshop Creative Thinking was organized on Monday December 5.
  </p>

  <p class="links">
    <%= link_to 'Reflection', 'files/Dejonckheere_Florian_Creative_Thinking.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Assignment 6' %></h2>
    <em>Jobprofiles</em>
  </aside>

  <p>
    A couple of job applications in the IT industry was analyzed and the technical, personal and linguistic competences were extracted and described.
  </p>

  <p class="links">
    <%= link_to 'Assignment 6', 'files/Dejonckheere_Florian_Jobprofielen.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'French' %></h2>
    <em>Nexios guest speaker</em>
  </aside>

  <p>
    Thomas Plumanns, Nexios recruiter gave a presentation about writing a proper curriculum vitae and how to prepare for jobinterviews.
  </p>

  <p class="links">
    <%= link_to 'Reflection', 'files/Dejonckheere_Florian_CV_Presentation.pdf' %>
  </p>
</section>
