---
title: I2Talent
order: 2
---

<section>
  <aside>
    <h2>Opdracht 1</h2>
    <em>Ofman Kernkwadranten</em>
  </aside>

  <p>
    Een goede manier om je sterke en je zwakke punten helder te krijgen, is je kernkwaliteiten en kernkwadranten in kaart te brengen. Deze veelgebruikte, heldere en toegankelijke methode kan je ook gebruiken om conflicten met anderen te analyseren.
  </p>

  <p class="links">
    <%= link_to 'Reflectie', 'files/Dejonckheere_Florian_Ofman.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2>Opdracht 2</h2>
    <em>Competence Indicator</em>
  </aside>

  <p>
    De Competence Indicator is een wetenschappelijke test die ontwikkeld werd door Vlerick Business School. De test geeft je feedback over je professionele sterktes en zwaktes.
  </p>

  <p class="links">
    <%= link_to 'Certificaat', 'files/Dejonckheere_Florian_Competence_Indicator_Certificate.pdf' %>
    <span class="separator">/</span>
    <%= link_to 'Reflectie', 'files/Dejonckheere_Florian_Competence_Indicator_Reflectie.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2>Opdracht 3</h2>
    <em>Getuigenis</em>
  </aside>

  <p>
    De getuigenis werd afgenomen van <a href="http://users.hogent.be/jasperdhaene/eportfolio" target="blank">Jasper D'haene</a>.
  </p>

  <p class="links">
    <%= link_to 'Getuigenis', 'files/Dejonckheere_Florian_Getuigenis.mp4' %>
    <span class="separator">/</span>
    <%= link_to 'Reflectie', 'files/Dejonckheere_Florian_Getuigenis.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2>Opdracht 4</h2>
    <em>DISC</em>
  </aside>

  <p>
    Het DISC instrument is een persoonlijkheidsanalyse. DISC geeft mensen een diepgaand inzicht in hun eigen persoonlijkheidsstijl en die van anderen. De DISC beschrijvingen geven in begrijpelijke taal zicht op gedrag en communicatie.
  </p>

  <p class="links">
    <%= link_to 'Reflectie', 'files/Dejonckheere_Florian_DISC.pdf' %>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2>Opdracht 5</h2>
    <em>Creative Thinking</em>
  </aside>

  <p>
    De workshop Creative Thinking werd georganiseerd op maandag 5 december.
  </p>

  <p class="links">
    <%= link_to 'Reflectie', 'files/Dejonckheere_Florian_Creative_Thinking.pdf' %>
  </p>
</section>

<div class="section-divider"></div>
