---
title: Portfolio
order: 1
---

<section>
  <aside>
    <h2><%= permalink_for 'Open Webslides' %></h2>
    <em>Ruby on Rails, React, Redux</em>
  </aside>
  <p>
    Et si le mat&eacute;riel de cours pouvait&hellip;
    <ul>
      <li>&eacute;tre <em>co-cr&eacute;&eacute;</em> par des enseignants, des &eacute;tudiants et des professionnels?</li>
      <li>utiliser pleinement les outils Web <em>interactifs</em>?</li>
      <li><em>transcende</em> les cours et s'&eacute;tend à plusieurs sujets?</li>
      <li>promouvoir une approche d'apprentissage <em>personnel</em>?</li>
      <li>&eacute;tre <em>partag&eacute;</em> avec la communaut&eacute; &eacute;ducative?</li>
    </ul>
  </p>

  <p>
    Open Webslides est une platforme pour cr&eacute;er des mat&eacute;riel de cours interactif qui favorise la co-cr&eacute;ation avec des &eacute;tudiants et des coll&egrave;gues. Il est construit avec des technologies et des normes Web modernes pour promouvoir un environnement d'apprentissage interactif et accessible
  </p>

  <p class="links">
    <a href="https://openwebslides.github.io">Website</a> <span class="separator">/</span> <a href="https://github.com/OpenWebslides/OpenWebslides">Code source</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Headbanger' %></h2>
    <em>Ruby on Rails, Neo4j</em>
  </aside>

  <p>
    Service de r&eacute;commandation de musique et platforme de d&eacute;couverte en m&eacute;tal lourd. Construit sur des bases de donn&eacute;es de graphiques, le syst&egrave;me utilise un filtrage hybride collaboratif et bas&eacute; sur le contenu pour d&eacute;terminer les artistes et albums de romans en fonction des &eacute;valuations pr&eacute;c&eacute;dentes de l'utilisateur (pas encore lanc&eacute;)
  </p>

  <p class="links">
    <a href="https://headbang.re">Website</a> <span class="separator">/</span> <a href="https://github.com/floriandejonckheere/headbanger">Code source</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Telecom Cost Expert: WebGraph' %></h2>
    <em>jQuery, CytoscapeJS, JavaScript</em>
  </aside>

  <p>
    D&eacute;veloppement d'un composant web interactif: visualisation d'un graphique acyclique dirig&eacute; contenant des informations financi&egrave;res (code source ferm&eacute;e)
  </p>

  <p class="links">
    <a href="http://www.telecomcostexpert.com/">Website</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'thalariond' %></h2>
    <em>Ruby on Rails, Docker, LDAP</em>
  </aside>

  <p>
    Syst&egrave;me personnalis&eacute; de gestion des utilisateurs pour la centralisation du courrier &eacute;lectronique et d'autres services, &eacute;crit en Ruby et Ruby on Rails
  </p>

  <p class="links">
    <a href="https://www.thalarion.be">Website</a> <span class="separator">/</span> <a href="https://github.com/floriandejonckheere/thalariond">Code source</a>
  </p>
</section>


<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'PoweraMPD' %></h2>
    <em>Java, Android</em>
  </aside>

  <p>
    PoweraMPD est une couche d'interface compatible avec le protocole de musique de Daemon (MPD) au populaire lecteur multim&eacute;dia Android Poweramp. Il vous permet de contr&ocirc;ler et parcourir la biblioth&egrave;que multim&eacute;dia de votre t&eacute;l&eacute;phone Android depuis votre ordinateur, ou m&ecirc;me un autre t&eacute;l&eacute;phone
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/powerampd">Code source</a>
  </p>
</section>
