---
title: Portfolio
order: 1
---

<section>
  <aside>
    <h2><%= permalink_for 'Open Webslides' %></h2>
    <em>Ruby on Rails, React, Redux</em>
  </aside>
  <p>
    Wat als lesmateriaal&hellip;
    <ul>
      <li><em>gecocre&euml;erd</em> kon worden door leerkrachten, studenten en professionelen?</li>
      <li>gebruik kon maken van <em>interactieve</em> webtools?</li>
      <li>vakken en onderwerpen kon <em>overstijgen</em></li>
      <li>een <em>persoonlijke</em> aanpak kon aanmoedigen?</li>
      <li><em>gedeeld</em> kon worden met de educationele gemeenschap</li>
    </ul>
  </p>

  <p>
    Open Webslides is een platform om interactief lesmateriaal te cre&euml;eren dat cocreatie aanmoedigt met zowel studenten als collega's. Het is gebouwd met moderne webtechnologie&euml;n en standaarden om een open en toegankelijke leeromgeving te bieden
  </p>

  <p class="links">
    <a href="https://openwebslides.github.io">Website</a> <span class="separator">/</span> <a href="https://github.com/OpenWebslides/OpenWebslides">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Headbanger' %></h2>
    <em>Ruby on Rails, Neo4j</em>
  </aside>

  <p>
    Heavy Metal aanbevelingsplatform. Gebouwd op graafdatabanken en gebruik makend van een hybride aanpak tussen <em>collaborative</em> en <em>content-based filtering</em> om nieuwe muziek aan te raden (in ontwikkeling)
  </p>

  <p class="links">
    <a href="https://headbang.re">Website</a> <span class="separator">/</span> <a href="https://github.com/floriandejonckheere/headbanger">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'TelecomCostExpert: WebGraph' %></h2>
    <em>jQuery, CytoscapeJS, JavaScript</em>
  </aside>

  <p>
    Ontwikkeling van een interactief webcomponent: visualisatie van een gerichte acyclische graaf die financi&euml;le informatie bevat (closed source).
  </p>

  <p class="links">
    <a href="http://www.telecomcostexpert.com/">Website</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'thalariond' %></h2>
    <em>Ruby on Rails, Docker, LDAP</em>
  </aside>

  <p>
    Op maat ontwikkeld gebruikersbeheer-systeem die email en andere services centraliseert.
  </p>

  <p class="links">
    <a href="https://www.thalarion.be">Website</a> <span class="separator">/</span> <a href="https://github.com/floriandejonckheere/thalariond">Source code</a>
  </p>
</section>


<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'PoweraMPD' %></h2>
    <em>Java, Android</em>
  </aside>

  <p>
    PoweraMPD is een Music Player Daemon (MPD) Protocol-compatibele interface layer voor de populaire Android mediaspeler Poweramp. Het laat toe om de media-bibliotheek van een Android-toestel te besturen vanaf een computer, of zelfs vanaf een ander mobiel toestel.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/powerampd">Source code</a>
  </p>
</section>
